{% load static %}
<!DOCTYPE html>
<html>
	<head>
        <title>{% block title %}Eventex - O maior encontro hacker do mundo!{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Eventex - O maior encontro hacker do mundo!">
        <meta name="author" content="wttd">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'eventex/core/img/favicon.ico' %}">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'eventex/core/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'eventex/core/css/basalstyle/style.min.css' %}">
        <link rel="stylesheet" href="{% static 'eventex/core/css/main.css' %}">

        <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>

        {% block extra_style %}{% endblock %}
	</head>

	<body>
        <div class="header-frame row">
            {% include 'core/nav.html' %}
        </div>


        <!-- OVERVIEW -->
        {% block content %}{% endblock %}

        {% block extra_js %}{% endblock %}
    </body>
</html>
